*{
    font-family: arial;
}

main.mainContainer {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}


.sectionBtns {
    text-align: center;
}

.btnGeneral {
    background: #5D12AA;
    border: none;
    border-radius: 3px;
    padding: 12px;
    display: inline-block;
    color: white;
    margin: 12px;
    cursor: pointer;
}

.btnGeneral:hover {
    background: #7623CC;
}


/* ----------------------------------*/
/* Classes for setting up max-width */
/* ----------------------------------*/
.maxW1200 {
    max-width: 1200px;
}
.maxW900 {
    max-width: 900px;
}
.maxW600 {
    max-width: 600px;
}
/* ----------------------------------*/