
button.btnGeneral {
    background: blue;
    color: white;
}

.btnGeneral {
    background: red !important;
}

/* ----------------------------------*/
/* Classes for setting up max-width */
/* ----------------------------------*/
.maxW1200 {
    max-width: 1200px;
}
.maxW900 {
    max-width: 900px;
}
.maxW600 {
    max-width: 600px;
}
/* ----------------------------------*/

 